body {
  height: 100%;
  margin: 0;
}
nav, footer, .main {
  text-align: center;
}
footer {
  bottom: 0;
  width: 100%;
}
nav, footer {
  background-color: rgb(120, 99, 131);
}
#root {
  background-color: rgb(243, 232, 249);
}
nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: antiquewhite;
}
a:hover {
  color: rgb(208, 247, 245);
  transform: scale(1.3);
}

.sugoi > a {
  text-decoration: none;
  color: rgb(35, 1, 59);
}