nav, footer, .main {
  text-align: center;
  align-content: center;
}
nav, footer {
  background-color: rgb(120, 99, 131);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root {
  background-color: rgb(243, 232, 249);
  margin: 0;
  min-height: 100%;
}
a {
  text-decoration: none;
  color: antiquewhite;
}
a:hover {
  color: rgb(208, 247, 245);
  transform: scale(1.3);
  text-transform: uppercase;
}
#webdev-fun a, #webdev a {
  text-decoration: none;
  color: rgb(172, 38, 8);
  font-family: 'Cuprum', sans-serif;
}
#bio {
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  border-radius: 5%;
}
#bio1 h1, #bio1 h2, .sugoi-title, .project-title {
  color: rgb(220, 250, 252);
  font-family: 'Cuprum', sans-serif;
}
.sugoi-title, .project-title {
  font-family: 'Cuprum', sans-serif;
  color: rgb(172, 38, 8);
}
#forecast {
  display:flex; 
  justify-content:center; 
}